@{
    ViewData["Title"] = "Home Page";
    ViewData["DropdownText"] = "Welcome to my website";
    ViewData["Page"] = "home";
}

@section Scripts {
    <script src="~/js/PricingChart.js"></script>
}

@Html.Partial("./_modals/GeneralContactForm.cshtml")

@* The first header section *@
<div class="b-example-divider"></div>

@Html.Partial("./_partials/_hero.cshtml")

<div class="b-example-divider"></div>

@Html.Partial("./_partials/_my-offers.cshtml")

<div class="b-example-divider"></div>

@Html.Partial("./_partials/_things-i-could-build.cshtml")


@* @Html.Partial("./_partials/_compare-plans.cshtml") *@



<div class="b-example-divider"></div>

@Html.Partial("./_partials/_testimonals.cshtml")




<div class="b-example-divider"></div>


@Html.Partial("./_partials/_newsletter-form.cshtml")

<div class="b-example-divider"></div>

