<tr>
    <td>@Model.Name</td>
    <td style="width:50%">@Model.Description</td>
    <td>@Model.Price</td>
    <td style="width: 100%;">@Model.ImagePath</td>
    <td style="white-space: nowrap;">
        <button class="btn btn-sm btn-secondary" onclick="replaceContentWithPartialView('merch-editor/edit/'+ @Model.ProductId.ToString(), 'edit', () => window.initEditForm())">Edit</button> |
        <a asp-action="Details" asp-route-id="@Model.ProductId">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.ProductId">Delete</a>
    </td>
</tr>
